.nav{
    position: absolute;
    width: 1366px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    display: flex;
    z-index: 2 ;
    /* border: solid 1px; */
}

.logo{
    /* border: solid 1px blue; */
    height: 100%;
    /* position: absolute; */
    margin: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    /* top: 0px; */
}

.searchDiv{
    position: absolute;
    left: 188px;
    /* top: 15px; */
    display: flex;
    /* border: solid 1px; */
    align-items: center;
    width: 393px;
    height: 100%;
}

.searchArea{
    box-sizing: border-box;
    /* position: absolute; */
    width: 320px;
    height: 40px;
    /* left: 188px;
    top: 15px; */
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.rightSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
    position: absolute;
    width: 770px;
    height: 70px;
    left: 581px;
    top: 0px;
    /* border: solid green; */
}

.linkDiv{
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 458px;
    height: 70px;
    flex: none;
    /* order: 0; */
    flex-grow: 0;
    /* border: solid 1px blue; */
    /* left: 581px; */
}

.links{
    height: 70px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 70px;
    text-transform: capitalize;
    color: #172B4D;
    flex: none;
    flex-grow: 0;
    border: 0px;
    padding-right: 0;
}

.greenLinks{
    width: 60px;
    height: 70px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 70px;
    text-transform: capitalize;
    color: #2DA449;
    flex: none;
    flex-grow: 0;
    /* border: solid 1px blue; */
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 297px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* border: solid red;   */
}

.blueButton{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    padding: 10px 18px;
    gap: 10px;
    width: 149px;
    height: 40px;
    background: #3366FF;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
}

.blueButton p{
    width: 113px;
    height: 19px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

.userDiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 5px 8px 5px 5px;
    gap: 10px;
    width: 132px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.imageDiv{
    width: 30px;
    height: 30px;
    background: #C4C4C4;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.name{
    width: 82px;
    height: 21px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}